.projects {
    padding: 32px 40px;
    grid-column: 1 / 3;
}

.projects__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    margin-top: 16px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    row-gap: 12px;
    width: 100%;

    border-radius: 6px;
    border: 1px solid var(--background-body);
    padding-bottom: 12px;
    text-decoration: none;
}

.project picture {
    width: 100%;
    height: 220px;
}

.project picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project strong {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary);
    text-align: center;
    padding: 0 18px;
}

.project:hover strong {
    text-decoration: underline;
}

.project .project__stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project .project__stack span {
    background: var(--background-body);
    padding: 10px;
    color: var(--primary);
}

.project .project__stack span i {
    font-size: 20px;
}