.user {
    padding: 0 40px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.user picture {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    margin-top: -100px;
}

.user picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
}

.user__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.user__content h1 {
    font-size: 32px;
}

.user__content p {
    font-size: 18px;
    font-weight: 300;
}